.dropdown:hover
{
	background-color: limegreen;
	display: block;
}
.dropdown
{
 	display: inline-block;
 }
.dropdown-content
{
 	position: absolute;
 	background-color: #f1f1f1;
 	min-width: 160px;
 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
